<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936378370479-8koboamkg1nlh84pac7o0458opqsdd1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936378370479-8koboamkg1nlh84pac7o0458opqsdd1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAhTETkCGAWNmd42ZP4HvKPi2RvqwSkgxk</string>
	<key>GCM_SENDER_ID</key>
	<string>936378370479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samuelkaratas.who-is-mostabc</string>
	<key>PROJECT_ID</key>
	<string>wiml-5626d</string>
	<key>STORAGE_BUCKET</key>
	<string>wiml-5626d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936378370479:ios:5bf486b82ff6ddd1d9875a</string>
	<key>DATABASE_URL</key>
	<string>https://wiml-5626d-default-rtdb.firebaseio.com</string>
</dict>
</plist>